# Dart / Flutter
.dart_tool/
.packages
build/
pubspec_overrides.yaml
*.iml
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
coverage/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
node_modules/

# OS
.DS_Store
